<h1> This Is Where You Edit Your Cohorts</h1>



    <br>
    <br>


<%= form_for @cohort, html: {class: "cohort_form"} do |c| %>


<div class="ui form">
  <div class="three fields">

      <div class="field">
      <label>Cohort name</label>
     <%= c.text_field :name %>
     </div>

    <div class="field">
      <label>Cohort StartDate</label>
        <%= c.text_field :start_date %>
         </div>

    <div class="field">
      <label>Cohort EndDate</label>
        <%= c.text_field :end_date %>
    </div>

  </div>
</div>

    <%= c.submit "Update", class: "ui blue button" %>
<% end %>