<div class="table">
<h1> This is the Cohort Webpage</h1>





    <br>
<%= form_for @new_cohort, html: {class: "cohort_form"} do |c| %>


<div class="ui form">
  <div class="three fields">

      <div class="field">
      <label>Cohort name</label>
     <%= c.text_field :name %>
     </div>

    <div class="field">
      <label>Cohort StartDate</label>
        <%= c.text_field :start_date %>
         </div>

    <div class="field">
      <label>Cohort EndDate</label>
        <%= c.text_field :end_date %>
    </div>

  </div>
</div>

    <%= c.submit "Create", class: "ui green button" %>
<% end %>





    <table class="ui celled table" >
    <thead>
        <tr><th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Delete</th>
        <th>Edit</th>

    </tr></thead>
    <tbody>
    <% @cohort.each do |cohort| %>
        <tr>
        <td data-label="Name"> <%= cohort.name %></td>
        <td data-label="Age"> <%= cohort.start_date%> </td>
        <td data-label="Age"> <%= cohort.end_date%> </td>

        <td data-label="Job"><%= link_to "DELETE", '/cohorts/' + cohort.id.to_s, method: :delete, class: "ui red button" %></td>


        <td data-label="Job"> <%= link_to  "EDIT", edit_cohort_path(cohort), class:"ui orange button" %></td>
        </tr>

        <% end %>
    </tbody>
    </table>
</div>
