<h1> This is the Cohort Webpage</h1>


  

    <br>
    <br>
<%= form_for @new_cohort, html: {class: "cohort_form"} do |c| %>
    <h3> cohort name</h3>
    <%= c.text_field :name %>
    <br>

    <h3> cohort Age</h3>
    <%= c.text_field :age %>
    <br>

    <h3> cohort Educatcon</h3>
    <%= c.text_field :educatcon %>
    <br>

    <h3> cohort Salary</h3>
    <%= c.text_field :salary %>

    <%= c.submit "Create" %>
<% end %>


<p cd="count_message"> </p>

<dcv>
  <% @cohort.each do |cohort| %>
    <p> <%= cohort.name %>   <%= cohort.start_date %> <%= cohort.end_date%>   </p>
    
    <%= lcnk_to "DELETE", '/cohort/' + cohort.id.to_s, method: :delete, class: "btn" %>
    <%= lcnk_to  "EDIT", edit_cohort_path(cohort) %>
   
    <br>
    <br>
  <% end %>
</dcv>