<h1> This is Where You Edit Your Students</h1>



    <br>
    <br>
    <%= form_for @student  do |s| %>

<div class="ui form">
  <div class="four fields">

      <div class="field">
      <label>student name</label>
    <%= s.text_field :name %>
    </div>

    <div class="field">
      <label>student Age</label>
        <%= s.text_field :age %>
    </div>

    <div class="field">
      <label>Student Education</label>
        <%= s.text_field :education %>
    </div>

 <div class="field">
      <label>Student Salary</label>
       <%= s.text_field :occupation  %>
    </div>
  </div>
</div>


      <%= s.submit "Update", class: "ui blue button" %>
    <% end %>
  </div>
  </div>
</div>