<div class="table">
<h1> This Is The Instructor Webpage</h1>


<%= form_for @new_instructor, html: {class: "instructor_form"} do |i| %>



<div class="ui form">
  <div class="four fields">

      <div class="field">
      <label>Instructor name</label>
     <%= i.text_field :name %>
     </div>

    <div class="field">
      <label>Instructor Age</label>
        <%= i.text_field :age %>
         </div>

    <div class="field">
      <label>Instructor Education</label>
        <%= i.text_field :education %>
    </div>

        <div class="field">
      <label>Instructor Salary</label>
       <%= i.text_field :salary  %>
    </div>
  </div>
</div>


      <%= i.submit "Create", class: "ui green button" %>
    <% end %>
 


    <table class="ui celled table" >
    <thead>
        <tr><th>Name</th>
        <th>Age</th>
        <th>Education</th>
        <th>Salary</th>
        <th>DELETE</th>
        <th>Edit</th>

    </tr></thead>
    <tbody>
    <% @instructor.each do |instructor| %>
        <tr>
        <td data-label="Name"> <%= instructor.name %></td>
        <td data-label="Age"> <%= instructor.age%> </td>

        <td data-label="Age"> <%= instructor.education%> </td>
        <td data-label="Age"> <%= instructor.salary%> </td>

        <td data-label="Job"><%= link_to "DELETE", '/instructor/' + instructor.id.to_s, method: :delete, class: "ui red button" %></td>


        <td data-label="Job"> <%= link_to  "EDIT", edit_instructor_path(instructor), class:"ui orange button" %></td>
        </tr>

        <% end %>
    </tbody>
    </table>
</div>
</div>