<!DOCTYPE html>
<html>
  <head>
    <title>Schoolpage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class ="topbar">
  <img id="logo" src="rollin.jpeg"> </img>
  <h1 id="header"> Welcome To The Rolling Tongue School Of Languages </h1>
  </div>

  <div class ="sidebar">

  <%= render "layouts/nav" %>
  </div>
 <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path,method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

  <div class="cont">
    <div class="table"
    <%= yield %>
    </div>
  </div>


  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<footer>
<center> <br> <br>
<h4>Come Back Soon! </h4> </center> </footer>

  </body>
</html>
